PORT=3001
TIMEOUT=10000
SSL_CERT=
SSL_KEY=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=
MUSIXMATCH_API_KEY=
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
ACCESS_TOKEN_KEY=
ACCESS_TOKEN_SECRET=
